/* [project]/Desktop/vs code/YARITU_FULLSTACK/USER/frontend/app/collection/collection.css [app-client] (css) */
.collection-section {
  padding-top: 130px;
  padding-bottom: 80px;
}

.section-title {
  text-align: center;
  color: var(--button-bg);
  margin-bottom: 40px;
  font-family: Playfair Display, serif;
  font-size: 40px;
  font-weight: 400;
}

.section-title .highlight {
  color: var(--brand-accent);
}

.divider {
  border: 0;
  border-top: 2px solid #000;
  width: 85%;
  margin: 0 auto;
}

.category-buttons {
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin: 70px 0;
  display: flex;
}

.category-button-container {
  position: relative;
}

.category-button {
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  width: 252px;
  height: 50px;
  text-decoration: none;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px rgba(37, 56, 77, .25);
}

.dropdown-menu {
  color: #fff;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  background: #213346 linear-gradient(to right, #213346, #395a7c, #213346);
  border-radius: 10px;
  justify-content: space-around;
  width: 500px;
  margin-top: 10px;
  padding: 20px;
  transition: opacity .3s, visibility .3s;
  display: flex;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.category-button-container:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  display: flex;
}

.dropdown-column {
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.dropdown-column h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.dropdown-column ul {
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.dropdown-column a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.btn-glow, .btn-bg, .btn-text {
  border-radius: 50px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.btn-glow {
  opacity: .2;
  z-index: 1;
}

.btn-bg {
  background-color: var(--button-bg);
  z-index: 2;
}

.btn-text {
  z-index: 3;
  color: var(--text-light);
  justify-content: center;
  align-items: center;
  font-size: 20px;
  display: flex;
}

.breadcrumbs {
  margin-bottom: 30px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.breadcrumbs > span {
  font-weight: 400;
}

.collection-title {
  margin-bottom: 12px;
  font-family: Playfair Display, serif;
  font-size: 40px;
  font-weight: 700;
}

.collection-subtitle {
  margin-bottom: 22px;
  font-size: 16px;
}

.product-grid {
  grid-template-columns: repeat(4, 300px);
  justify-content: center;
  gap: 28px;
  display: grid;
}

.product-card {
  background-color: var(--secondary-bg);
  border: 1px solid var(--brand-accent);
  width: 300px;
  padding: 1px;
}

.product-image {
  object-fit: cover;
  border: 1px solid #e1c28c;
  width: 100%;
  height: 349px;
  box-shadow: 0 4px 4px 3px rgba(0, 0, 0, .16);
}

.card-info {
  padding: 24px 12px;
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 1300px) {
  .product-grid {
    grid-template-columns: repeat(3, 300px);
  }
}

@media (max-width: 992px) {
  .product-grid {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (max-width: 768px) {
  .collection-content {
    padding: 0;
  }

  .breadcrumbs, .collection-title, .collection-subtitle {
    text-align: center;
  }

  .product-grid {
    grid-template-columns: repeat(1, 300px);
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}

.whatsapp-fab {
  z-index: 100;
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

/*# sourceMappingURL=3d860_vs%20code_YARITU_FULLSTACK_USER_frontend_app_collection_collection_e66b9adb.css.map*/